a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #333;
}
p {
  margin: 0;
  padding: 0;
}
th {
  position: sticky;
  /* top: -10px; */
  top: -1px;
}
button {
  cursor: pointer;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}
.header-nav {
  height: 56px;
  display: flex;
  flex-wrap: wrap;
}

.header-nav-con {
  width: 108px;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
}
.header-nav-con:hover,
.active-nav {
  background: rgba(4, 58, 93, 0.36);
  border-bottom: 4px solid #fff;
}
.header-usericon {
  height: 28px;
  width: 28px;
  position: absolute;
  right: 16px;
  bottom: 14px;
  color: white;
}

.header-time {
  background: #0a76c3;
  color: white;
  font-size: 14px;
  width: 160px;
  height: 22px;
  border-radius: 3px;
  line-height: 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 50px;
  padding-left: 20px;
  box-sizing: border-box;
}

.header-timeicon {
  height: 14px;
  width: 14px;
  position: absolute;
  left: 3px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: auto;
}

.main {
  height: calc(100% - 56px);
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
}

.main-map {
  min-width: calc(100% - 640px);
  height: 100%;
  position: relative;
  flex: 1;
}

.map-con,
.lytu-con,
.echart-con {
  width: 100%;
  height: 100%;
  text-align: center;
}

.map-searcher {
  position: absolute;
  top: 0;
  left: 5px;
  width: 400px;
  min-height: 32px;
  background: #095d97;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px 0px rgba(0, 35, 83, 0.45);
  z-index: 2;
  display: none;
}

.searcher-title {
  height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: white;
  font-size: 18px;
  padding: 0 10px;
}

.searcher-hide {
  width: 18px;
  overflow: hidden;
  align-self: flex-start;
}

.searcher-show {
  align-self: flex-start;
}

.searcher-con {
  min-height: 130px;
  background: white;
  padding: 18px 10px;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.show-searcher-con {
 
}
.search-select,
.search-select-add {
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
}

.search-select select,
.search-select-add select {
  width: 130px;
  height: 34px;
  margin-right: 20px;
  margin-bottom: 13px;
  border-radius: 4px;
}

.search-add-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #69d4ec;
}

.search-button {
  text-align: center;
  z-index: 1;
}

.search-button button {
  width: 90px;
  height: 30px;
  margin-top: 13px;
  background: #095d97;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 18px;
}

.search-button button:last-child {
  margin-right: 0;
}

.search-button button:hover {
  background: #509ee9;
}

.map-control {
  position: absolute;
  top: 0;
  right: 5px;
  max-width: 800px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #b1def8;
  box-shadow: 2px 2px 6px 0px rgba(0, 35, 83, 0.45);
  color: #0e72bd;
  padding-left: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 16px;
  background: white;
}

.map-control label {
  margin: 0 14px 0 12px;
}

.map-control-checkbox {
  display: block;
  width: 40px;
  height: 22px;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
}

/* ==========================================================================
          设置伪类,来实现模拟滑块滑动,过渡用了transition来实现 ,
          translateZ来强制启用硬件渲染   
========================================================================== */

.map-control-checkbox:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ==========================================================================
          设置raw-checkbox,视觉直观比较 
========================================================================== */
.raw-checkbox {
  display: none;
}

.raw-checkbox:checked + label {
  background: #0b76c2;
}

/* 这里是伪元素偏移,初始是0.9+0.05 ,所以这里1.05rem */
.raw-checkbox:checked + label:after {
  left: 20px;
}

.raw-checkbox:disabled + label {
  background: #d5d5d5;
  pointer-events: none;
}

.raw-checkbox:disabled + label:after {
  background: #bcbdbc;
}

.map-modal {
  /* display: none; */
  position: absolute;
  /* max-width: 393px;
  max-height: 486px;
  width: 20.5%;
  height: 45%; */
  width: 850px;
  height: 600px;
  background: #095d97;
  bottom: 30px;
  right: 40px;
  padding: 0 8px 8px 8px;
  box-sizing: border-box;
  z-index: 20;
}
.map-modal a {
  color: #8ac8f5;
}
.map-modal .title-button {
  position: absolute;
  height: 24px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #b2def7;
  border-radius: 3px;
  background: linear-gradient(#1885cf, #04558b, #1885cf);
  color: white;
  font-size: 14px;
  padding: 0 16px;
  cursor: pointer;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.map-modal .title-button:hover{
  background: #013357;
}
.map-modal .ui-tabs-nav{
  position: relative;
}
.map-modal .ui-tabs-active a {
  background: #0d5898;
  border: 1px solid #529dd3;
  border-radius: 6px 6px 0 0;
  color: white;
  font-size: 16px;
}
.map-modal .mmtab-con {
  width: 100%;
  height: calc(100% - 40px);
  padding: 0;
  background: white;
  box-sizing: border-box;
}

.map-modal .mm-top {
  height: calc(35% - 8px);
  border-bottom: 8px solid #095d97;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.map-modal .jydmszzs {
  overflow: auto;
  background: #095d97;
}
.map-modal .dmdc img{
  width: 200px;
  height: 150px;
  border: 1px solid #000000;
}

.map-modal .jydmszzs .judmchart {
  height: 200px;
  margin-bottom: 8px;
  background: white;
}
.map-modal .jydmszzs .judmchart:last-child {
  margin-bottom: 0;
}
.map-modal .dmdc {
  padding: 16px 10px;
  overflow: auto;
}
.map-modal .dmsy .dmsy-name {
  font-weight: 600;
  position: relative;
  font-size: 18px;
  color: rgb(9, 93, 151);
}
.map-modal .dmsy .dmsy-info {
  border-bottom: 8px solid #095d97;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
}
.map-modal .dmsy .dmsy-info p {
  width: 33.3%;
}
.map-modal .dmsy .dmsychart {
  height: calc(35% - 22px);
  border-bottom: 8px solid #095d97;
  box-sizing: border-box;
}
.map-modal .dmsy .dmsychart:last-child {
  border-bottom: none;
}
.mm-top .modal-item {
  flex: 1;
  font-size: 14px;
}
.modal-item span {
  display: inline-block;
  font-size: 14px;
  width: 45%;
}
.map-modal .modal-title {
  display: flex;
  align-items: flex-end;
  padding: 10px 20px 10px 20px;
}
.map-modal .modal-title .modal-name {
  max-width: 45%;
  font-weight: 600;
  position: relative;
  font-size: 18px;
  color: rgb(9, 93, 151);
}
.modal-right {
  position: absolute;
  width: 23%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map-modal .modal-loc {
  font-size: 14px;
  color: rgb(9, 93, 151);
  font-weight: 600;
}
.map-modal .modal-title .name-tag {
  position: absolute;
  color: #fff;
  background: #0a76c3;
  font-size: 12px;
  width: 50px;
  padding: 0 5px;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  top: 0px;
  bottom: 0px;
  left: 120%;
  line-height: 24px;
}
.map-modal .modal-level {
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 50%;
  text-align: center;
  background: #fc0d1b;
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}
.map-modal .mm-bottom {
  height: calc(65% - 4px);
  background: white;
  padding: 10px;
  box-sizing: border-box;
}
.map-modal .bottom-title {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map-modal .bottom-title select {
  width: 130px;
  height: 30px;
  border-radius: 4px;
}
.map-modal.bottom-chart {
  height: calc(100% - 35px);
}
.map-legend {
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 136px;
  height: 208px;
  background: #2e76aa;
  border-radius: 4px;
  padding: 14px 26px;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}

.map-legend div {
  margin-bottom: 11px;
}

.map-legend .icon {
  margin-right: 14px;
  cursor: auto;
  font-size: 20px;
  vertical-align: bottom;
}

.map-legend .icon-a {
  color: #29f931;
}

.map-legend .icon-b {
  color: #23cdfd;
}

.map-legend .icon-c {
  color: #00b3f5;
}

.map-legend .icon-d {
  color: #ffd02f;
}

.map-legend .icon-e {
  color: #fc9a26;
}

.map-legend .icon-f {
  color: #fc0d1b;
}


.main-left-sider .ls-item {
  box-sizing: border-box;
  width: 110px;
  height: 48px;
  background: #1967aa;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  letter-spacing: 1px;
  padding: 1px 0;
}

.main-left-sider button:hover {
  border: 1px solid #3cddf5;
  color: #3cddf5;
}

.ls-hide {
  left: 0px;
}

.main-right-sider {
  /* width: 27.9%; */
  width: 624px;
  max-width: 624px;
  height: 100%;
  /* min-height: 700px; */
  position: relative;
  padding: 0 8px 8px 8px;
  box-sizing: border-box;
  overflow: auto;
}

.rs-tab {
  height: calc(50% - 4px);
  background: #095d97;
  margin-bottom: 8px;
  padding: 2px 8px 8px 8px;
  box-sizing: border-box;
  position: relative;
}

.rs-tab-button {
  min-width: 88px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #b2def7;
  border-radius: 3px;
  background: linear-gradient(#1885cf, #04558b, #1885cf);
  color: white;
  font-size: 14px;
  padding: 0 16px;
  position: absolute;
  right: 8px;
  top: 6px;
  cursor: pointer;
}

.rs-tab-button:hover {
  background: #013357;
}

.rs-tab .ui-tabs-nav {
  padding: 0;
}

.rs-tab a {
  color: #8ac8f5;
}
.rs-tab a:hover {
  color: #fff;
}
.rs-tab .ui-tabs-active a {
  background: #0d5898;
  border: 1px solid #529dd3;
  border-radius: 6px 6px 0 0;
  color: white;
  font-size: 16px;
}

.rs-tab .tab-con {
  background: white;
  height: calc(100% - 40px);
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.map-bottom-sider {
  position: absolute;
  /* height: 400px; */
  width: 800px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #095d97;
  padding: 0 10px;
  box-sizing: border-box;
}

.mb-sider-title {
  height: 32px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: white;
  font-size: 18px;
}

.mb-hide-button {
  width: 18px;
  overflow: hidden;
  align-self: flex-start;
}

.mb-hide-button-show {
  align-self: flex-end;
}

.mb-sider-con {
  background: white;
  max-height: 200px;
}

.mb-sider-con table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.mb-sider-con td,
.mb-sider-con t {
  border: 1px solid black;
}
/** 滚动条样式美化 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a6a6a6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7f7f7f;
}

@media screen and (max-width: 750px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

.mini-bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.layui-nav-item.admin-nav-hover > .layui-nav-child::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.map-modal .pwkmmod-title{
  height: 30px;
  position: relative;
}
.map-modal .pwkmmod{
  height: calc(100% - 30px);
  display: flex;
}
.map-modal .pwkmmod .left{
  width: 70%;
  box-sizing: border-box;
  border-right: 8px solid #095d97;
}
.map-modal .pwkmmod .pwkmm-info {
  height: calc(35% - 22px);
  border-bottom: 8px solid #095d97;
  box-sizing: border-box;
  padding: 8px;
}
.map-modal .dmsy .pwkmm-info:last-child {
  border-bottom: none;
}
.map-modal .pwkmmod .right{
  width: 30%;
  box-sizing: border-box;
  padding: 8px;
}
.map-right-tool {
  position: absolute;
  left: 5px;
  top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.map-right-tool .change-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #b1def8;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 12px;
  color: #0e72bd;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 35, 83, 0.45);
  box-shadow: 2px 2px 6px 0px rgba(0, 35, 83, 0.45);
  cursor: pointer;
}

.map-right-tool .echart-button:hover {
  color: #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#074890),
    to(#4185ea)
  );
  background: linear-gradient(#074890, #4185ea);
}
.map-right-tool .layer-button {
  position: relative;
}
.map-right-tool .layer-button .layer-change {
  display: none;
  position: absolute;
  background: #fff;
  flex-direction: column;
  justify-content: center;
}
.map-right-tool .layer-button .layer-change input,
.map-right-tool .layer-button .layer-change label {
  vertical-align: middle;
}
.map-right-tool .layer-button .layer-change .line {
  height: 1px;
  background: #adadad;
  margin: 5px 0;
}
.map-right-tool .layer-button.active-button {
  width: 115px;
  height: 125px;
}
.map-right-tool .layer-button.active-button .layer-change {
  display: flex;
}

.map-searcher .cb-close {
  position: absolute;
  right: 5px;
  top: 4px;
  cursor: pointer;
  color: #04558b;
}
.map-right-tool .cb-close {
  position: absolute;
  right: -9px;
  top: -6px;
}
.map-right-tool .searcher-hide {
  align-self: flex-start
}
.map-right-tool img{
  width: 32px;
}
.map-right-tool .searcher-hide img{
  width: 26px;
}